a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
}

.page-header {
  background: #ffffff;
}

.header-top {
  position: relative;
  padding-top: 75px;
  padding-bottom: 30px;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.contacts {
  position: relative;
}

.contacts-time {
  position: absolute;
  right: 0;
  bottom: 100%;
}

.contacts-phone {
  font-size: 2.1em;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding-bottom: 1em;

    > a {
      font-style: italic;
      color: @gray-lighter;

      &:hover,
      &:active,
      &.active {
        color: @link-color;
        cursor: pointer;
      }
    }
  }
}

.choice {
  figcaption {
    text-align: center;
  }

  .choice-color-list a {
    position: relative;
    cursor: pointer;

    &.active::after {
      position: absolute;
      top: 50%;
      left: 50%;
      @width: 34px;
      @height: 16px;
      width: @width;
      height: @height;
      margin-left: -@width/2;
      margin-top: -@height/2;
      border: 5px solid #ffffff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      content: "";
    }
  }
}

.info {
  ul li {
    margin-bottom: 1.2em;

    > img {
      float: left;
      margin-right: 2.5em;
    }
  }

  ol {
    counter-reset: _counter;
    li {
      position: relative;
      margin-bottom: 1em;
      padding-left: 3.5em;

      &::before {
        counter-increment: _counter;
        content: counter(_counter);

        position: absolute;
        top: 0;
        left: 0;
        .square(35px);

        line-height: 35px;
        text-align: center;

        border: 2px solid #000;
        border-radius: 50%;
      }
    }
  }
}

.page-footer {
  padding: 40px 0;
  background: #a5b7c1;
  box-shadow: inset 0 5px 15px 0px rgba(0, 0, 0, 0.3);

  .page-nav {
    a.active {
      color: inherit;
      background-color: transparent;
    }
  }
}
