.page-header {
  background: #ffffff;
  padding-top: 15px;
}

.header-top {
  position: relative;
  padding-top: 75px;
  padding-bottom: 30px;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.contacts {
  position: relative;
}

.contacts-time {
  position: absolute;
  bottom: 100%;
}
